.about {
  color: navy;
  font-size: 20px;
  line-height: 1.5em;
}

.adams {
  color: #6699ff;
}

.projects {
  color: saddlebrown;
  text-align: justify;
}

.douglas {
  color: #009933;
}

.important {
  color:red;
  font-weight: bold;
}

.italic {
  /*width: 50%;*/
  font-style: italic;
}

h1 {
  font-weight: bold;
  color: #0000ff;
  text-align: center;
}

h2 {
  /*placeholder*/
}

img {
  float:left;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-family: sans-serif;
}

p.important {
  font-size: 24px;
}

p.intro {
  /*width: 50%;*/
  font-style: italic;
}

ol {
  font-size: 16px;
  line-height: 2em;
}

/*ul {
  font-size: 20px;
  line-height: 1.5em;
}*/
