.important {
  color:red;
  font-weight: bold;
}

.cow {
  color: saddlebrown;
  text-align: justify;
}

.man {
  color: navy;
}

.adams {
  color: #6699ff;
}

.douglas {
  color: #009933;
}

h1 {
  font-weight: bold;
  color: #0000ff;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

p.important {
  font-size: 24px;
}

p.intro {
  width: 50%;
  font-style: italic;
}

ul {
  font-size: 20px;
  line-height: 2em;
}

ol {
  text-align: center;
}
